.moments-list {
  margin-top: 60px;
}

.moments-list .year {
  position: relative;
  background: #efefef;
  text-align: center;
  padding: 20px;
  font-size: 26px;
  color: #7b7b7b;
}

.moments-list .request-error {
  padding: 40px;
  text-align: center;
  color: #7b7b7b;
}
