<div class="moment-detail">
  <div class="navbar">
    <div routerLink="/moments">
      <span class="arrow fas fa-arrow-left"></span>
    </div>
    <div>
      <span class="edit far fa-edit"></span>
    </div>
  </div>

  <img class="header-image" [src]="headerImage" (load)="loading = false" alt="">

  <div *ngIf="moment">
    <div class="title">
      {{moment.name}}
    </div>
  </div>

  <div class="box" *ngIf="moment && !loading">
    <div class="section">
      <span class="section-title"> <span class="fas fa-align-justify"></span> Descripción </span>
      <span class="section-text"> {{moment.description}}</span>
    </div>
    <div class="section">
      <span class="section-title"> <span class="far fa-calendar-alt"></span> Fecha  {{moment.beginDate | date:'(yyyy)'}}</span>
      <span class="section-text" *ngIf="!moment.endDate"> {{moment.beginDate | date:'d \'de\' MMMM'}}</span>
      <span class="section-text" *ngIf="moment.endDate">
        Desde el {{moment.beginDate | date:'d \'de\' MMMM'}}
        hasta el {{moment.endDate | date:'d \'de\' MMMM'}}
      </span>
    </div>
    <div class="section">
      <span class="section-title"> <span class="far fa-images"></span> Galería </span>
      <div class="gallery">
        <div class="gallery-image" *ngFor="let i of [1, 2, 3, 4, 5, 6]"
             [style.background-image]="'url(./assets/default.jpg)' | safe: 'style'">
        </div>
      </div>
    </div>
  </div>

  <div class="spinner" *ngIf="loading">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>

</div>
