.moment-detail {
}

.moment-detail .navbar {
  padding: 15px 20px;
  height: 56px;
  z-index: 200;
  color: white;
  width: 100%;
  position: fixed;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */
}

.moment-detail .navbar > div {
  display: inline;
}

.moment-detail .arrow {
  z-index: 300;
}

.moment-detail .edit {
  z-index: 300;
  float: right;
  margin-right: 40px;
}

.moment-detail .title {
  z-index: 200;
  margin: 13px 50px;
  font-size: 19px;
  color: white;
  position: fixed;
  top: 0;
}

.moment-detail .header-image {
  width: 100%;
  min-height: 100px;
}

.moment-detail .box {
  padding: 20px;
}

.moment-detail .section {
  padding-bottom: 20px;
}

.moment-detail .section-title {
  color: white;
  display: block;
}

.moment-detail .section-title svg {
  margin-right: 5px;
}

.moment-detail .section-text {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  padding-left: 23px;
}
