.navbar {
  color: white;
  padding: 15px;
  font-size: 25px;
  text-align: center;
  display: block;
  background: #41a3d4;
}

.navbar .title {
  margin-right: -10px;
  font-weight: 200;
}

.navbar .icon {
  height: 20px;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
