.navbar {
  color: white;
  padding: 15px;
  font-size: 25px;
  text-align: center;
  display: block;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6ba839+0,2ec9ad+100 */
  background: rgb(107, 168, 57); /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(107, 168, 57, 1) 0%, rgba(46, 201, 173, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(107, 168, 57, 1) 0%, rgba(46, 201, 173, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(107, 168, 57, 1) 0%, rgba(46, 201, 173, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ba839', endColorstr='#2ec9ad', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.navbar .title {
  margin-right: -10px;
  font-weight: 200;
}

.navbar .icon {
  height: 20px;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
