.moment-item {
  position: relative;
  margin: 10px;
}

.moment-item .box {
  padding: 15px;
  color: #41a3d4;
}

.moment-item .text {
  position: relative;
  z-index: 100;
  margin: 10px 15px;
}

.moment-item .name {
  display: block;
  font-size: 21px;
}

.moment-item .date {
  display: block;
  font-size: 11px;
  color: rgba(123, 145, 156, 0.6);
}

.moment-item .background {
  position: absolute;
  top: 0;
  width: 100%;
}

.moment-item .image {
  height: 100px;
  width: 50%;
  right: 0;
  background-size: cover;
  background-position: center;
}

.moment-item .gradient {
  height: 87px;
  z-index: 50;
  width: 100%;
  left: 0;
  border-bottom: 1px solid white;
  border-radius: 5px;
  background: white;
}

.moment-item .badge {
  height: 87px;
  position: absolute;
  z-index: 59;
  width: 10px;
  top: 0;
  right: 0;
  border-radius: 0 5px 5px 0;
}

.moment-item .image {
  height: 74px;
  border: 7px solid white;
  width: 23%;
  position: absolute;
  z-index: 31;
  top: 0;
  right: 0;
  border-radius:10px;
  background-position: center;
  background-size: cover;
}
