<div class="home">

  <form class="container" [formGroup]="userForm" (ngSubmit)="login()">
    <label class="label">Correo electrónico</label>

    <div class="input-container">
      <input type="email"
             formControlName="email" required>
      <span class="form-error" *ngIf="formErrors.email">
        {{ formErrors.email }}
      </span>
    </div>


    <label>Contraseña</label>

    <div class="input-container">
      <input type="password"
             formControlName="password" required>
      <span class="form-error" *ngIf="formErrors.password">
        {{ formErrors.password }}
      </span>
    </div>

    <div class="button-container">
      <button class="submit-button" type="submit" [disabled]="!userForm.valid">Entrar</button>
    </div>
  </form>
</div>
